# Supabase Configuration (Required)
# Used by @nuxtjs/supabase module
NUXT_PUBLIC_SUPABASE_URL=""
NUXT_PUBLIC_SUPABASE_KEY=""
NUXT_SUPABASE_SECRET_KEY=""

# Generate using pnpm dlx nuxt-og-image generate-secret
# https://nuxtseo.com/docs/og-image/guides/security
NUXT_OG_IMAGE_SECRET=""
